.one {
    width :200px;
    background-color: black;
    margin : 20px auto;
    border: 50px solid black;
    padding : 50px auto;
}
.two {
    width : 100px;
    background-color: aqua;
    border: 40px solid green;
    padding : 60px auto;
}
.index{
    width : 500px;
    background-color: antiquewhite;
    border: 70px solid red;
    padding: 30px auto;
}
.two {
    width : 100px;
    background-color : rebeccapurple;
    border: 30px solid brown;
    margin : 80px auto;
}
.three {
    width: 50px;
    background-color: blueviolet;
    border: 20px solid paleturquoise;
    padding: 10px auto;
}